<section>
	<div class="col-md-6">
		<p><h3><strong>Anita Becker</strong></h3></p>
		<br/>
		
		<p>Unsere staatlich anerkannte Ergotherapeutin Anita Becker verfügt speziell in den Bereichen Pädiatrie und Neurologie über eine mehr als zehnjährige Berufserfahrung, die sie in unserer Praxis ausübt. Insbesondere in der Arbeit mit Kindern hat die selbst zweifache Mutter ein sehr fundiertes Wissen über die kindliche Entwicklung und Ihre speziellen Besonderheiten. Über eine Reihe von Fortbildungsmaßnahmen  hat sie besondere Kompetenzen in folgenden Bereichen erworben: ADHS (Diagnostik, Therapie und Medikation), Lymphdrainagen an der Hand, Spiegeltherapie, basale Stimulation, Linkshänderberatung, Abtestung der Händigkeit und Grafomotorik.</p>
		<p>Die Behandlung folgender Krankheitsbilder gehören zu Ihren Kerngebieten:</p>
			<ul>
				<li>Wernicke-Korsakow-Syndrom</li>
				<lil>LRS (Lese-Rechtschreib-Schwäche bzw. Schwierigkeit/Störung)</lil>
				<li>Auditive Wahrnehmungsstörungen</li>
				<li>ADS (Aufmerksamkeitsdefizitsyndrom)</li>
				<li>ADHS (Aufmerksamkeitsdefizit-/Hyperaktivitätsstörung)</li>
				<li>ICP (infantile Cerebralparese)</li>
			</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/team/anita.png"/>
	</div>
</section>

<script>
  enable_top_menu('team');
</script>