<section>
	<div class="col-md-6">
		<p><h3><strong>Carmen Müller</strong></h3></p>
		<br/>
		
		<p>Als staatlich geprüfte Ergotherapeutin sowie Gründerin und Inhaberin der Praxis Erotherpie mit Herz steuert und koordiniert Carmen Müller den Einsatz ihrer Mitarbeiterinnen und Mitarbeiter in allen Bereichen der Ergotherapie und Lerntherapie sowie der Integrationsförderung und –begleitung an den Standorten Kell am See und Trier-Petrisberg sowie in häuslicher Betreuung. </p>
		<p>Die Praxisbezeichnung „Ergotherapie mit Herz“ ist gleichermaßen ihr Leitsatz und Anspruch, für den einzelnen Patienten entsprechend der vorliegenden Diagnose eine möglichst sinnvolle und unterstützende Therapie anbieten zu können. Aufgrund ihrer eigenen Qualifikation und intensiven Berufserfahrung in allen Bereichen der Ergotherapie achtet sie als Leiterin der Praxis und des Teams darauf, dass die Bedürfnisse des einzelnen Patienten entsprechend der vorliegenden Diagnose und ärztlichen Verordnung mit einer passenden Therapie berücksichtigt und unterstützt werden.</p>

	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/team/carmen.png"/>
	</div>
</section>

<script>
  enable_top_menu('team');
</script>