<section>
	<div class="col-md-6">
		<p><h3><strong>Christina Berens</strong></h3></p>
		<br/>
		
		<p>Unsere staatlich geprüfte Ergotherapeutin Christina Berens gehört seit 2012 zu unserm Team. Sie beschäftigt sich insbesondere mit neurologischen Krankheitsbildern und  verfügt gleichermaßen über Berufserfahrung auch in folgenden Bereichen:</p>
		<ul>
			<li>Förderung der Selbständigkeit von Menschen in ihrem Alltag sowie Erweiterung und Erhaltung ihrer Kompetenzen</li>
			<li>Bedarfsgerechte Therapien für Menschen mit Behinderung oder im Alter
Arbeitstherapie und Unterstützung der Wiedereingliederung</li>
			<li>Lerntherapie und Unterstützung von Kindern und jungen Patienten in der Schulfähigkeit sowie Sozialkompetenz und Kreativität.</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/team/christina.png"/>
	</div>
</section>

<script>
  enable_top_menu('team');
</script>