<section>
	<div class="col-md-6">
		<p><h3><strong>Claudia Zender</strong></h3></p>
		<br/>
		
		<p>Unsere staatlich geprüfte Ergotherapeutin Claudia Zender arbeitet seit vielen Jahren in der Ergotherapie und widmet sich besonders gerne dem Bereich der Geriatrie, den Krankheiten alternder Menschen. Mit ihrer Fortbildung „Validation“ ist sie vertraut mit der von der Gerontologin Naomi Feil erfundenen und anerkannten Methode für den Umgang mit dementen oder verwirrten, alten Menschen und hat darüber hinaus  mehrjährige Berufserfahrungen als Therapeutin in einem Altenheim gesammelt.</p>
		<p>Sie legt in Ihrer Arbeit besonderen Wert darauf, alte Menschen darin zu unterstützen, ein selbstbestimmtes Leben führen zu können. Sie setzt sich dafür ein, ihren Patienten mit therapeutischer Versorgung dabei zu helfen, trotz Krankheit und Gebrechen in Würde altern zu dürfen.</p>
		<p>Ihre weiteren Fortbildungsmaßnahmen (Einführung in die Aromapraxis, Aromaberatung, Basale Stimulation) unterstützen Sie bei diesem Engagement.</p>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/team/claudia.png"/>
	</div>
</section>

<script>
  enable_top_menu('team');
</script>