<section>
	<div class="col-md-6">
		<p><h3><strong>Cordula Meis</strong></h3></p>
		<br/>
		
		<p>Als staatlich geprüfte Ergotherapeutin aus dem Rheinland lebt Sie nun seit 5 Jahren mit ihrer Familie an der Mosel. Sie arbeitet mit Kindern und Erwachsenen. Nach vielen Jahren Praxis- und Rehaerfahrung folgte Sie ihrer Leidenschaft und entwickelte mit ganz viel Intuition und Erfahrung ein eigenes ergotherapeutisches Behandlungskonzept „energetisches Neurofeedback“. Es entwickelte sich aus der Schmerztherapie, TCM, Energetischen Informationsmedizin, systemischem Gesprächsansatz und aus dem neurologischen Armlängenreflex nach Raphael van Assche.</p>
		<p>Ihr liegt es am Herzen, den Menschen ganzheitlich im Team zu begleiten. Jede Stresssituation im Körper hat eine auslösende Situation, die den Körper in ein Ungleichgewicht bringt.  Wird die auslösende Situation gemeinsam gefunden, kann sie in einen Entspannungszustand gebracht werden, welches den Stress im Körper abbaut.</p>

	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/team/cordula.png"/>
	</div>
</section>

<script>
  enable_top_menu('team');
</script>