<section>
	<div class="col-md-6">
		<p><h3><strong>Eva Traut</strong></h3></p>
		<br/>
		
		<p>Unsere Mitarbeiterin Eva Traut hat im Jahr 2013 ihre Ausbildung zur staatlich geprüften Ergotherapeutin erfolgreich abgeschlossen und gehört seither zu unserm Team. Mit ergänzenden Praktika in verschiedenen Einrichtungen hat sie ihre Qualifikation sinnvoll erweitert. Im Besonderen verfügt Sie über spezielle Erfahrungen und Erfolge in folgenden Bereichen:</p>
		<ul>
			<li>Ergotherapie für Kinder unter dem Aspekt der Familientherapie</li>
			<li>Integrationsbegleitung und –Therapie für Kinder im Kindergarten</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/kell-small.jpg"/>
	</div>
</section>

<script>
  enable_top_menu('team');
</script>