<section>
	<div class="col-md-6">
		<p><h3><strong>Ralph Thiel</strong></h3></p>
		<br/>
		
		<p>Unser Mitarbeiter Ralph Thiel ist verfügt als staatlich geprüfter Ergotherapeut über umfassende Erfahrungen, Kenntnisse und Fortbildungen in allen Bereichen der Ergotherapie. Sein persönlicher Schwerpunkt liegt in der Arbeit mit neurologischen Patienten, sehr gerne auch im häuslichen Umfeld. Unter anderem ist er der Spezialist für individuelle Handtherapie, Lymphdrainagen, funktionelles Alltagstraining und Spiegeltherapie.</p>
		<p>Aufgrund seiner vorausgegangenen Handwerksausbildungen und Berufserfahrungen im Zimmerer- und Schreinerhandwerk kann er bei Bedarf sein handwerklichen Geschick ergänzend und sinnvoll in die ergotherapeutische Arbeit in Form von Eingliederungshilfe und Arbeitstherapie  integrieren.</p>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/kell-small.jpg"/>
	</div>
</section>

<script>
  enable_top_menu('team');
</script>