<div class="container" id='main-content'>
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active second-menu"><a href="#allgemein"><i class="icon-chevron-right"></i> Allgemein</a></li>   
        <li class="second-menu"><a href="#gruppenprogramm"><i class="icon-chevron-right"></i> Gruppen-/Betriebs-/Vereinsauflüge</a></li>    
        <li class="second-menu"><a href="#schulausflug"><i class="icon-chevron-right"></i> Schulausflug</a></li>
        <li class="second-menu"><a href="#kindergeburtstag"><i class="icon-chevron-right"></i> Kindergeburtstag</a></li>
      </ul>
    </div>

      
    <div class="span6">
      <section id="allgemein">
        <div class="well well-small">
          <h4>Allgemein</h4>
          <h5>Das können Sie bei uns buchen und erleben</h5>
          <ul>
            <li>Fachkundige Führungen im Bergwerk mit</li>
            <li>Erlebnis "Sonnenaufgang unter Tage"</li>
            <li>Vorführung der Schieferbearbeitung</li>
            <li>Weinproben im Infozentrum/Museum oder im Bergwerk</li>
            <li>Besichtigung des Infozentrums/Museums</li>
            <li>Wanderung auf dem <u><a href="/grubenwanderweg.html">Grubenwanderweg</a></u></li>
            <li>Lorenausstellung</li>
            <li>Für Kinder die <a href="/files/bergwerksrallye.pdf"><u>Bergwerksrallye</u></a> und die <a href="/files/gww_rallye.pdf"><u>Grubenwanderwegrallye</u></a> (im Eintrittspreis inbegriffen)</li>
          </ul>
          <p>Mit unserem Bistro <u><a href="/weinstein.html">WeinStein</a></u> können Sie die gewünschte Verpflegung für Ihren Ausflug vereinbaren. Hier erhalten Sie eine große Auswahl von Speisen und Getränken. Lassen Sie sich verwöhnen, mit erlesenen Weinen aus dem Fellertal und moselfränkischer Küche.</p>
          <p>Vom Bergmannsfrühstück über ein komplettes Mittagsmenü mit Kaffee und Kuchen, bis hin zur Weinprobe mit Käse-Schinkenbrot und vieles mehr, können Sie sich Ihren Tag kulinarisch gestalten.</p>
          <p><strong>Sollten Sie weitere Ideen, Fragen oder Anregungen zu Ihrem Aufenthalt haben, so <u><a href="/impressum.html">kontaktieren</a></u> Sie uns bitte. Wir planen gerne individuell mit Ihnen zusammen Ihren Besuch!</strong></p>
        </div>
      </section>  
    </div>

      <div class="span3">
        <section id="2013">
          <div class="well well-small">
            <a class="fancybox" rel="gallery"  href="/images/DSC_0028_large.jpg"> 
              <img src="/images/DSC_0028_thumb.jpg"></img>
            </a>
          </div>
        </section>
      </div>  
  </div> 

  <div class="row">
    <div class="span3"></div>
    <div class="span6">
        <section id="gruppenprogramm">
          <div class="well well-small">
            <h4>Gruppen-/Betriebs-/Vereinsausflüge</h4>      
            <h5>Schöne Stunden auf einer historischen Schiefergrube</h5>

            <p>Seit Jahrhunderten wurde im Nosserntal - 20 km östlich von Trier - in zahlreichen Bergwerken feinster Tonschiefer abgebaut und zu Dachschieferplatten, den begehrten "blauen Leien", weiterverarbeitet. Der ehemalige Schieferbergbau hinterließ in einer reizvollen Landschaft eine einzigartige Kulturlandschaft, die vom Bergbau und vom Weinbau geprägt wurde. Zahlreiche Loren, Halden und Bergwerks-Stollen bezeugen heute in einer idyllischen Landschaft den niedergegangenen Schieferbergbau. </p>
            
            <p>Verbringen Sie in dieser einzigartigen Umgebung mit Ihrer Gruppe einen unvergesslichen, interessanten, abwechslungsreichen und geselligen Ausflug auf unserer historischen Dachschiefergrube und erleben Sie einen originellen, naturnahen und unvergesslichen Tag! </p>  
            
            <h5>Treffpunkt Besucherbergwerk. Den Rest übernehmen wir!</h5>
            <p>Wenn Sie einen erholsamen, interessanten und abwechslungsreichen Ausflug durchführen wollen, ohne allzu große Vorbereitung, Planung und "Schlepperei", dann sollten Sie dieses preisgünstige Komplett-Angebot nutzen. Bei uns stehen Spaß, Spiel, Erlebnis, Geselligkeit und Kommunikation in einer originellen Umgebung im Vordergrund! 
            Bitte sprechen Sie unsere Mitarbeiter an, oder kommen Sie im voraus persönlich bei uns vorbei! 
            Wir freuen uns auf Ihren Besuch! </p>
            <h5>Ihre Aufenthaltsdauer bestimmen Sie selbst!</h5>
            <p>Durch den Einbau der Wanderung (1 - 3 Stunden je nach Route) und des spielerischen Aufenthaltes (falls gewünscht) können Sie die Dauer Ihres Aufenthaltes praktisch von ca. 3 1/ 2 Stunden bis "open end" ganz nach Ihrem Wünschen selbst bestimmen.</p>
                      
          </div>
        </section>
      </div>
      
      <div class="span3">
        <section id="2013">
          <div class="well well-small">
            <a class="fancybox" rel="gallery"  href="/images/DSC_0433_large.jpg"> 
              <img src="/images/DSC_0433_thumb.jpg"></img>
            </a>
          </div>
        </section>
      </div>  
  </div> 

  <div class="row">
      <div class="span3">
      </div>
      
      <div class="span6">
        <section id="schulausflug">
        <div class="well well-small">
          <h4>Schulausflug ins Nossertal</h4>     
          <h5>Ein Tag auf der Schiefergrube - Ein Tag in der "Seele des Schiefers"!</h5>
          <p>Gut für die Schüler, gut für die Klasse!</p>
          <p>Mit einem Ausflug auf unsere historische Dachschiefergrube bieten Sie Ihren Schülern ein unvergessliches Erlebnis in einer einzigartigen Umgebung, über- wie auch untertage. Im Nosserntal entdecken Sie eine vielfältige von der Natur zurückeroberte alte Bergbaulandschaft mit zahlreichen historischen Stollen und Halden, mit Weinbergen und Mischwald. 70 m unter Tage erleben Sie die unheimliche und einzigartige Athmosphäre eines vorindustriellen Dachschieferbergwerks. (Dauer der Führung unter Tage: ca. eine gute Stunde). Unser Rahmenprogramm bietet Ihnen und Ihren Schülern in einer ungewöhnlichen Umgebung einen kurzweiligen und zudem noch lehrreichen Aufenthalt. </p> 

          <p>Für Lehrer bieten wir zur Vorbereitung unsere <u><a href="/files/lehrmappe.pdf">Informationsmappe</a></u> an, außerdem gibt es für das eigenständige Erarbeiten die <a href="/files/bergwerksrallye.pdf"><u>Bergwerksrallye</u></a> und die <a href="/files/gww_rallye.pdf"><u>Grubenwanderwegrallye</u></a>.</p>

          <p>Die Veranstaltung findet im Freien (offene Pavillons) statt. Daher bitte wettergerechte Kleidung mitbringen! </p>

        </div>
        </section>
      </div>

      <div class="span3">
        <section id="2013">
          <div class="well well-small">
            <a class="fancybox" rel="gallery"  href="/images/DSC_0341_large.jpg"> 
              <img src="/images/DSC_0341_thumb.jpg"></img>
            </a>
          </div>
        </section>
      </div>
  </div>

  <div class="row">
    <div class="span3">
    </div>
    
    <div class="span6">
      <section id="kindergeburtstag">
      <div class="well well-small">
        <h4>Goldfieber in Fell - Kindergeburtstag auf der Schiefergrube</h4>
        <h5>Kindgerechte Führung</h5>
        <p>Wir machen mit Ihrer Gruppe eine kindgerechte Führung. Die Kinder erfahren bei uns u.a. wie durch Kinderarbeit, einseitige Ernährung und die Knochenarbeit im Bergbau aus den Bergleuten Zwerge wurden. Wir erzählen Ihnen, warum in den Wintermonaten die Fledermäuse bei uns überwintern und was es mit dem "Katzengold" auf sich hat. Das Geburtstagskind bekommt als Andenken eine große Gummi-Fledermaus geschenkt, die übrigen Kinder jeweils eine kleine. </p>

        <h5>Goldwaschen am Grubenbrunnen</h5>
        <p>Das Geburtstagskind darf sich anschließend als Goldwäscher versuchen. Mit der Goldgräberpfanne wird am Grubenbrunnen "Gold" (Katzengold) gewaschen. Unter Wäsche versteht der Bergmann das Trennen eines Minerals vom tauben Gestein. Durch das unterschiedliche Gewicht der Mineralien entsteht im Wasser ein unterschiedlicher Auftrieb, der das Auswaschen des Sandes ermöglicht.
        Das Katzengold (Pyrit) ist eine Schwefel-Eisen-Verbindung, die aussieht wie Gold. Das Geburtstagskind bekommt ein Reagenzglas voll Pyrit (der Erfolg beim Goldwaschen ist also garantiert).</p>

        <h5>Schatzsuche im Bergwerk</h5>
        <p>Die Kinder suchen Halbedelsteine im Bergwerk, die vom Grubenführer vorher vesteckt wurden.</p>

        <h5>Kleiner Imbiss/Erfrischung</h5>
        <p>Anschließend erhalten die Teilnehmer eine Bratwurst im Brötchen und ein kaltes Getränk, Limo, Cola oder Saft (für die Erwachsenen wahlweise eine Tasse Kaffee).
        Ein Geburtstagskuchen kann bestellt werden. </p>

        <h5>Ihre Aufenthaltsdauer bestimmen Sie selbst!</h5>
        <p>Durch den Einbau weiterer Spielmöglichkeiten oder einer Wanderung über den <u><a href="/grubenwanderweg.html">Grubenwanderweg</a></u> (1 - 3 Stunden, je nach Route) können Sie die Dauer Ihres Aufenthaltes praktisch von ca. 2 Stunden bis "open end" ganz nach Ihren Wünschen selbst bestimmen. </p>
        
        <p>In unmittelbarer Nähe des Bergwerks sind auf dem <u><a href="/grubenwanderweg.html">Grubenwanderweg</a></u> jede Menge Stollen zu entdecken. Für Kinder sehr interessant, daher bitte Taschenlampen mitbringen falls vorhanden, so können die Kinder in die dunklen, vergitterten Stollen hineinleuchten. Außerdem können Sie den Walli-Stollen erkunden, der zwischen Parkplatz und Infozentrum/Bergwerk liegt.</p> 

        <p>Bitte wettergerechte Kleidung und Taschenlampe mitbringen!</p>
      </div>
      </section>
    </div>

    <div class="span3">
      <section id="2013">
        <div class="well well-small">
            <a class="fancybox" rel="gallery"  href="/images/DSC_0462_large.jpg"> 
            <img src="/images/DSC_0462_thumb.jpg"></img>
          </a>
        </div>
        <div class="well well-small">
            <a class="fancybox" rel="gallery"  href="/images/DSC_0042_large.jpg"> 
            <img src="/images/DSC_0042_small.jpg"></img>
          </a>
        </div>
      </section>
    </div>
  </div>
</div>


<script>
  enable_top_menu('anfahrt');
</script>
