<section>
	<div class="col-md-6">
		<p><h3><strong>Energetisches Neurofeedback</strong></h3></p>
		<p><h4>Cordula Meis</h4></p>
		<br/>
		
		<ul>
		<li>Dein Körper kennt die Antwort für die Ursache deiner Probleme iim Bereich Psyche, Körper, Schmerzen, Stress</li>
		<li>Ergotherapeutisches Konzept entstanden aus der Schulmedizien und der energetischen Medizin</li>
		<li>Bringt den Körper und die Lebensenergie ins Gleichgewicht</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/neurofeedback-small.jpg"/>
	</div>
</section>
<script>
	enable_top_menu('zusatzangebot');
</script>