<h2>Ergotherapie</h2>

<div class="row">
	<div class="col-md-12">
		<h3>Wie lassen sich die Ziele umsetzen?</h3>
		<ul>
			<li>Ideen entwickeln</li>
			<li>Projekte planen</li>
			<li>Anstösse geben</li>
			<li>Wege zur Umsetzung aufzeigen</li>
			<li>Konkrete Projekte umsetzen</li>
		</ul>
	</div>
</div>

<script>
  enable_top_menu('ergotherapie');
</script>