<% content_for :xyz do %>
	<div class="col-md-4">
	    <img src="/images/ergo_mit_herz_small.png" />
	</div>
	<div class="col-md-8">
	    <div class="row">
	      <h1><p class="text-success">Herzlich Willkommen!</p></h1>
	    </div>
	    <div class="row">
	      <h4><p class="text-success">Schön, dass Sie zu uns gefunden haben…</p></h4>
	    </div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-4">
		<p>Die ganzheitliche Sicht auf den Menschen steht für uns im Mittelpunkt.</p>
		<p>Unser Ziel ist es, Menschen jeden Alters dabei zu helfen, ihr Leben im Alltag wieder in Gleichgewicht zu bringen und zu genießen.</p>
	</div>
	<div class="col-md-8">
		<img class="img-responsive" src="/images/tulpen1.jpg"/>
	</div>
</div>

<script>
	enable_top_menu('index');
</script>