<!--div class="bs-docs-header container" id="content">
    <h1>Praxis</h1>
</div-->

<div class="row">
	<div class="col-md-12">
		<div class="page-header ">
			
			<h1><img src="/images/logo_small.png"> Herzlich Willkommen!</h1>
		</div>
	</div>
	<div class="col-md-4">
		<p>Die ganzheitliche Sicht auf den Menschen steht für uns im Mittelpunkt.</p>
		<p>Unser Ziel ist es, Menschen jeden Alters dabei zu helfen, ihr Leben im Alltag wieder in Gleichgewicht zu bringen und zu genießen.</p>
	</div>
	<div class="col-md-8">
		
		<img class="img-responsive" src="/images/tulpen1.jpg"/>
	</div>
</div>

<script>
	enable_top_menu('index');
</script>