<section>
	<div class="col-md-6 centered-text center" style="font-family: 'Indie Flower', 'cursive';font-size: 20px;">
		<p><h3><strong>Die ganzheitliche Sicht auf den Menschen steht für uns im Mittelpunkt.</strong></h3></p>
		<p>Unser Ziel ist es, Menschen jeden Alters dabei zu helfen,<br/> ihr Leben im Alltag wieder in Gleichgewicht zu bringen und zu genießen.</p><br/>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/hilf_mir_es_selbst_zu_tun.png"/>
	</div>
</section>
<script>
	enable_top_menu('index');
</script>