<section>
	<div class="col-md-6">
		<p><h3><strong>Eingliederungshilfe</strong></h3></p>
		<p><h4>Integrationshilfe und Integrationsbegleitung</h4></p>
		<br/>
		<p>Unsere Praxis verfügt über Ressourcen und Kompetenzen zur personellen Unterstützung bzw. Durchführung von Maßnahmen der Eingliederungshilfe. Unsere Mitarbeiterinnen und Mitarbeiter haben in Zusammenarbeit mit der Kreisverwaltung als Träger der Maßnahmen bereits mehrere Integrationsbegleitungen erfolgreich durchgeführt. Unsere Therapeuten haben festgestellt, dass die Maßnahmen der Integrationsbegleitung durchaus auch von dem vorhandenen ergo therapeutischen Know How profitieren und somit auch in ansprechender Qualität erfolgen können. Da die Maßnahmen sich i. d. R. über einen längeren Zeitraum erstrecken, ist eine rechtzeitige Anfrage für die Ressourcenplanung wünschenswert. Gerne erstellen wir dem jeweiligen Träger kurzfristig ein Angebot.</p>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/integration.png"/>
	</div>
</section>
<script>
	enable_top_menu('zusatzangebot');
</script>