<section>
	<div class="col-md-6">
		<p><h3><strong>Kinderyoga</strong></h3></p>
		<p><h4>Anja Mustermann</h4></p>
		<br/>
		<ul>
			<li>Beweglichkeit und Ruhe für Körper, Geist und Seele</li>
			<li>Spaß und Ausgeglichenheit</li>
			<li>Verschiedene Altersgruppen</li>
		</ul>
		Angebote im Therapiezentrum Petrisberg
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/kinderyoga.png"/>
	</div>
</section>
<script>
	enable_top_menu('zusatzangebot');
</script>