<section>
	<div class="col-md-6 centered-text center alternative_font">
		<h4>Sie wünschen einen Termin bei uns?</h4><br/>
		<h4>Sie haben Fragen zur Ergotherapie?</h4><br/>
		<br/>
		<h4>Wir freuen uns auf Ihren Anruf!</h4><br/>
		<br/>
		<h3>Carmen Müller und Team</h3><br/>
		Staatlich anerkannte Ergotherapeutin<br/>
		Kell am See
		Tel. 06589-919129

		Petrisberg
		Tel. 0651-16044091
		email: info@ergo-mit-herz.de
	</div>

	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/kontakt.png"/>
	</div>
</section>
<script>
  enable_top_menu('kontakt');
</script>