<section>
	<div class="col-md-6">
		
		<h4>Sie wünschen einen Termin bei uns?</h4><br/>
		<h4>Sie haben Fragen zur Ergotherapie?</h4><br/>
		<h4>Wir freuen uns auf Ihren Anruf!</h4><br/>
		<br/>
		<h3>Carmen Müller und Team</h3><br/>
		Staatlich anerkannte Ergotherapeutin<br/><br/>
		<strong>Praxis Kell am See</strong><br/>
		Gartenfeldstrasse 23<br/>
		54427 Kell am See<br/>
		Tel 06589-919129<br/>
		Fax 06589-915550<br/>
		<br/>
		<strong>Praxis Petrisberg / Trier</strong><br/>
		Rudi Schillings-Strasse 7<br/>
		54296 Trier<br/>
		Tel. 0651-16044091<br/>
		<br/>
		email: <a href="info@ergo-mit-herz.de">info@ergo-mit-herz.de</a>
	</div>

	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/kontakt-small.jpg"/>
	</div>
</section>
<script>
  enable_top_menu('kontakt');
</script>