<h2>Kontakt</h2>

<div class="row">
	<div class="col-md-12">
		<div class="page-header ">
			<h3>Sprechen Sie uns an!</h3>
		</div>
		<div class="well well-lg">
			<address>
				Ergotherapie mit Herz!<br/>
				Carmen Müller<br/>
				Gartenfeldstrasse 39<br/>
				54427 Kell am See<br/>
				Tel. 06589 919129<br/>
				<a href="info@ergo-mit-herz.de">info@ergo-mit-herz.de</a>
			</address>
		</div>
	</div>
</div>

<script>
  enable_top_menu('kontakt');
</script>