<section>
	<div class="col-md-6">
		<p><h3><strong>Krisen-Beratung</strong></h3></p>
		<p><h4>Beratung in akuten Lebenskrisen, Familienkrisen, Schulkrisen</h4></p>
		<br/>
		Fachliche Beratung
		<ul>
			<li>Integrationsbegleitung - mein Kind bräuchte eine pädagogische und therapeutische Begleitung im Kindergarten</li>
			<li>Angehörigenberatung, Umfeldanalyse/-beratung</li>
			<li>Hilfsmittelanpassung und -beratung</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/krisenberatung-small.jpg"/>
	</div>
</section>
<script>
	enable_top_menu('zusatzangebot');
</script>