<section>
	<div class="col-md-6">
		<p><h3><strong>Betreuung</strong></h3></p>
		<p><h4>im Rahmen der Kurzzeitpflege</h4></p>
		<br/>
		<p>Im Rahmen der häuslichen Pflege von Angehörigen ist es bei Weitem nicht damit getan, die kontinuierliche Pflege selbst sicher zu stellen. Vielmehr haben die pflegebedürftigen Menschen den Bedarf einer ergänzenden Betreuung, die in der Regel von einem oder mehreren nahen Angehörigen übernommen wird.  Hierbei kommt es zwangsläufig im Einzelfall zu Engpässen, weil die Angehörigen selbst für einen begrenzten Zeitraum, z. B. bei Erkrankung oder Urlaub,  ausfallen können. Nicht selten entsteht auch der Bedarf, für eine Zeitlang die betreuende Person vorübergehend zu entlasten.</p>

		<p>Unsere Therapeuten haben die Möglichkeiten und notwendige Mobilität, in v. g. Fällen für die ausgefallenen Angehörigen „einzuspringen“ und den Engpass zu überbrücken. Bei der Betreuung selbst kommt es der pflegebedürftige Person zu Gute, dass die Betreuung mit ergo therapeutischem Fachwissen sinnvoll unterstützt werden kann. Umfang und Details der Betreuung erfolgen bedarfsgerecht und in Abstimmung mit den Angehörigen.</p>

		<p>Bei entsprechender Anfrage bei der Praxisleitung, Frau Müller, unterbreiten wir Ihnen gerne ein Angebot zur temporären Übernahme der Betreuung einer/eines pflegebedürftigen Angehörigen.</p>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/kurzzeitpflege.png"/>
	</div>
</section>
<script>
	enable_top_menu('zusatzangebot');
</script>