<section>
	<div class="col-md-6">
		<p><h3><strong>Linkshänderberatung und Überprüfung / Training</strong></h3></p>
		<p><h4>Anita Becker</h4></p>
		<br/>
		Gezieltes Angebot für
		<ul>
		<li>Kinder im Vorschulalter</li>
		<li>Kinder im Grundschulalter</li>
		<li>Umtrainierte Menschen</li>
		<li>Für Eltern</li>
		<li>Für Pädagogen/Erzieher</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/linkshaender-small.jpg"/>
	</div>
</section>
<script>
	enable_top_menu('zusatzangebot');
</script>