<section>
	<div class="col-md-6">
		<p><h3><strong>Links</strong></h3></p>
		<ul>
			<li><a target="_blank" href="https://www.dve.info/">Deutscher Verband der Ergotherapeuten e.V.</a></li>
			<li><a target="_blank"  href="http://www.therapiezentrum-petrisberg.de/">Therapiezentrum Petrisberg</a></li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/links.jpg"/>
	</div>
</section>
<script>
  enable_top_menu('links');
</script>