<section>
	<div class="col-md-6">
		<p><h3><strong>Neurologie (Erkrankungen des Nervensystems)</strong></h3></p>
		<ul>
			<li>Apoplex / Schlaganfall</li>
			<li>MS (Multiple Sklerose)</li>
			<li>Morbus Parkinson</li>
			<li>Verletzungen und Traumata wie z.B. Schädel-Hirn-Trauma</li>
			<li>Hirnleistungsstörungen</li>
			<li>Sensibilitätsstörungen</li>
			<li>Neglect, Hemianopsie</li>
			<li>Rückenmarksläsionen, Querschnittslähmungen</li>
		</ul>
		<br/>
		<br/>
		Bei Verordnung bieten wir auch gerne Hausbesuche an oder kommen zu Ihnen ins Heim.
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/schmetterling.png"/>
	</div>
</section>

<script>
	enable_top_menu('ergotherapie');
</script>