<section>
	<div class="col-md-6">
		<p><h3><strong>Orthopädie und Unfallchirurgie</strong></h3></p>
		<ul>
			<li>Rheuma / Arthrose</li>
			<li>Zustand nach Amputationen, Verbrennungen und Nervenverletzungen</li>
			<li>Rückenmarksläsionen, Querschnittslähmungen</li>
			<li>Handchirurgische Nachbehandlungen</li>
			<li>Integration am Arbeitsplatz und alltagssystematische Begleitung</li>
			<li>Gelenkersatz - Nachbehandlung (z.B. Hüft-TEP)</li>
			<li>Karpaltunnelsyndrom</li>
			<li>M. Sudeck</li>
			<li>M. Dupytren</li>
			<li>Polyneuropathien</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/drache-small.jpg"/>
	</div>
</section>
<script>
	enable_top_menu('ergotherapie');
</script>