<section>
	<div class="col-md-6">
		<p><h3><strong>Pädiatrie / Kinderheilkunde</strong></h3></p>
		<ul>
			<li>Entwicklungsverzögerungen</li>
			<li>Probleme in der Fein-, Grapho- und Grobmotorik</li>
			<li>LRS (Lese-Rechtschreibschwäche), Dyskalkulie (Rechenschwäche)</li>
			<li>Auditive/visuelle Wahrnehmungsstörung</li>
			<li>Konzentrationsprobleme, ADS/ADHS, Aufmerksamkeits- und Hyperaktivitätsstörungen</li>
			<li>Wahrnehmungsstörungen, sensorische Integrationsstörung</li>
			<li>Verhaltenauffälligkeiten</li>
			<li>Psychosomatische Störungen</li>
			<li>Geistige und körperliche Behinderung</li>
			<li>Orthopädische und neurologische Erkrankungen</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/kinder-small.jpg"/>
	</div>
</section>
<script>
	enable_top_menu('ergotherapie');
</script>