<section>
	<div class="col-md-6">
		<p><h3><strong>Therapiezentrum Kell am See</strong></h3></p>
		<br/>
		
		<p>Gartenfeldstraße 23</p>
		<p>54427 Kell am See</p>
		<p>Tel. 06589 919129</p>
		<br/>
		<br/>
		<p>Beide Praxen sind barrierefrei und verfügen über eigene Parkplätze.</p>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/kell-small.jpg"/>
	</div>
</section>
<script>
	enable_top_menu('praxis');
</script>