<section>
	<div class="col-md-6">
		<p><h3><strong>Therapiezentrum Petrisberg</strong></h3></p>
		<br/>
		
		<p>Rudi-Schillings-Straße 7</p>
		<p>54296 Trier</p>
		<p>Tel. 0651 17044091</p>
		<br/>
		<br/>
		<p>Beide Praxen sind barrierefrei und verfügen über eigene Parkplätze.</p>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/petrisberg.png"/>
	</div>
</section>
<script>
	enable_top_menu('praxis');
</script>