<section>
	<div class="col-md-6">
		<p><h3><strong>Psychatrie</strong></h3></p>
		<ul>
			<li>Störung des Sozialverhaltens</li>
			<li>Depression, Manie</li>
			<li>Angst- und Zwangsneurosen</li>
			<li>Psychosomatische Störungen</li>
			<li>Hirnorganische Störungen</li>
			<li>Persönlichkeits- und Wahrnehumgsstörungen, z.B. Borderline-Störungen</li>
			<li>Autismus</li>
			<li>Demenz, Alzheimer</li>
			<li>Alterbedingte psychische Erkrankungen</li>
			<li>Burnout</li>
			<li>somatoforme Schmerzstörungen</li>
		</ul>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive" src="/images/frosch-small.jpg"/>
	</div>
</section>
<script>
	enable_top_menu('ergotherapie');
</script>