<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Unterstützung</h1>
  </div>
</div>

<div class="page-header ">
	<h1>So können Sie helfen</h1>
</div>

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-titel"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Privatperson und Bürger</a></h4>
		</div>
		<div class="panel-collapse collapse in" id="collapseOne">
			<div class="panel-body">
				<ul>
				<li>Zustiftung</li>
				<li>Spenden</li>
				<li>Aktive Mitarbeit in Projekten</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-titel"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Firma oder Unternehmen</a></h4>
		</div>
		<div class="panel-collapse collapse in" id="collapseTwo">
			<div class="panel-body">
				<ul>
				<li>Sponsoring</li>
				<li>Spenden</li>
				<li>Material, Maschinen und Know-how</li>
				<li>Aktive Mitarbeit bei Projekten</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-titel"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Mitglied werden</a></h4>
		</div>
		<div class="panel-collapse collapse in" id="collapseThree">
			<div class="panel-body">
				<p>Beitrag ab 5€/Monat</p>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-titel"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Oder auf anderen Wegen</a></h4>
		</div>
		<div class="panel-collapse collapse in" id="collapseFour">
			<div class="panel-body">
			<p>Im Rahmen ihrer Feier: Falls Sie keine Geschenke möchten, könnten Sie um eine Geldspende zu Gunsten der Stiftung Ehrang bitten.</p>
			<p>Im Trauerfall: Statt Kränzen z.B. eine Geldspende zugunsten der Stiftung Ehrang</p>
			</div>
		</div>
	</div>
</div>
<p>Die Stiftung Ehrang e.V. ist gemeinnützig - Spenden und Mitgliedsbeiträge sind steuerlich absetzbar.</p>
<script>
  enable_top_menu('team');
</script>