<div class="bs-docs-header container" id="content">
    <h1>Team</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="page-header ">
			<h1>Wir stellen uns vor</h1>
		</div>

		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-titel"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Carmen</a></h4>
				</div>
				<div class="panel-collapse collapse in" id="collapseOne">
					<div class="panel-body">
						<ul>
						<li>Ausbildung</li>
						<li>Fortbildung</li>
						<li>Angebote</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-titel"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cordula</a></h4>
				</div>
				<div class="panel-collapse collapse in" id="collapseTwo">
					<div class="panel-body">
						<ul>
						<li>Ausbildung</li>
						<li>Fortbildung</li>
						<li>Angebote</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

<script>
  enable_top_menu('team');
</script>