<div class="row">
	<div class="col-md-4 text-center center">
		In der Ergotherapie muss ich viele Informationen sammeln, um Sie zu begleiten…
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="/images/biene.jpg"/>
	</div>
</div>

	<div class="col-md-12" style="font-family: 'Dosis', 'sans-serif';font-size: 18px;">
		<h4><b>Was ist Ergotherapie?</b></h4>
Ergotherapie ist ein ärztlich verordnetes Heilmittel, das auf 
medizinischen und sozialwissenschaftlichen Grundlagen basiert. 
Sie unterstützt Menschen jeden Alters, die Einschränkungen im
<ul>
<li>motorischen,</li>
<li>sensorischen,</li>
<li>neuropsychologischen und / bzw.</li>
<li>psychosozialen Bereichen</li>
</ul>
haben oder davon bedroht sind 
Ziel der Ergotherapie ist es, die nicht vorhandenen oder verloren
gegangenen Funktionen wiederherzustellen oder zu fördern.
Die Betroffenen sollen wieder die größtmögliche Selbständigkeit
und Unabhängigkeit in ihrem Alltags- oder Berufsleben erreichen.<br/>
	</div>




<script>
	enable_top_menu('ergotherapie');
</script>