<section>
	<div class="col-md-6">
		<h4><b>Was ist Ergotherapie?</b></h4>
		Ergotherapie ist ein ärztlich verordnetes Heilmittel, das auf 
		medizinischen und sozialwissenschaftlichen Grundlagen basiert. 
		Sie unterstützt Menschen jeden Alters, die Einschränkungen im
		<ul>
			<li>motorischen,</li>
			<li>sensorischen,</li>
			<li>neuropsychologischen und / bzw.</li>
			<li>psychosozialen Bereichen</li>
		</ul>
		haben oder davon bedroht sind.
		Ziel der Ergotherapie ist es, die nicht vorhandenen oder verloren
		gegangenen Funktionen wiederherzustellen oder zu fördern.
		Die Betroffenen sollen wieder die größtmöglichste Selbständigkeit
		und Unabhängigkeit in ihrem Alltags- oder Berufsleben erreichen.<br/>
	</div>
	<div class="col-md-6 center">
		<img class="img-responsive center-block" src="/images/biene-small.jpg"/>
	</div>
</section>



<script>
	enable_top_menu('ergotherapie');
</script>